.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.buildlog
.build
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.iml
*.ipr
*.iws
*.swp
.DS_Store
*.log
**/node_modules/
flutter/
.vscode/
.idea/
.firebase/
.vercel
